language: node_js
node_js:
- '0.11'
- '0.10'
addons:
  apt:
    packages:
      - xvfb
install:
  - export DISPLAY=':99.0'
  - Xvfb +extension RANDR :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - npm install
script:
  - electron-mocha app/test/main/
  - electron-mocha --renderer app/test/renderer/
