/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  overflow: hidden; /* disables scrolling */
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

#top-panel {
  height: 0;
  overflow-x: auto;
}

#main-panel {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
}

#left-panel {
  width: 0;
  overflow: auto;
}

#middle-panel {
  flex-grow: 1;
  overflow: auto;
}

#right-panel {
  flex-grow: 1;
  max-width: 320px;
  min-width: 100px;
  width: 30%;
  overflow: auto;
  border-left: 1px solid #eee;
  background: #f1f1f1;
}

.message {
  font-size: 14px;
  padding: 5px 10px;
  border-top: 1px solid rgba(0,0,0,.15);
}

.message p {
  margin: .6em 0;
}

.message pre {
  background-color: rgba(50, 50, 50, 0.15);
  padding: 5px;
  margin: .7em 0;
}

.validation-error {
  background-color: rgba(255, 76, 66, 0.6);
}

.validation-warning {
  background-color: rgba(255, 152, 66, 0.6);
}

.validation-info {
  background-color: rgba(99, 149, 215, 0.6);
}
.hidden {
  display: none;
}
