body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#message-panel {

    background-color: rgba(139,0,0,0.5);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    max-height: 25%;
    z-index: 100;
    padding: 5px 10px;
    border-radius: 3px;
    /*visibility: hidden;*/
}

#editor{
    /*background-color: rgba(139,0,0,0.5);*/
    position: fixed;
    top: 0;
    left:0;
    max-width: 60%;
    max-height: 70%;
}

#jsoneditor {
    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
    /*background-color: rgba(24, 37, 139, 0.5);*/
    position: fixed;
    right: 0;
    width: 45%;
    height: 70%;
    /*overflow: scroll;*/
}

.message {
  font-size: 14px;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 3px;
}

.message p {
  margin: .6em 0;
}

.message pre {
  background-color: rgba(50, 50, 50, 0.15);
  padding: 5px;
  margin: .7em 0;
}

.error-message {
  background-color: rgba(255, 76, 66, 0.6);
  border: 1px solid rgba(226, 88, 88, 0.6);
}

.warning-message {
  background-color: rgba(255, 152, 66, 0.6);
  border: 1px solid rgba(226, 151, 88, 0.6);
}

.info-message {
  background-color: rgba(99, 149, 215, 0.6);
  border: 1px solid rgba(88, 153, 226, 0.6);
}
