body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#message-panel{
    font-family: "Courier New", Courier, monospace;
    background-color: rgba(255, 76, 66, 0.6);
    position:fixed;
    margin: 20px;
    padding: 2px;
    bottom:0;
    overflow: scroll;
    height: 25%;
    width: 95%;
}