<!DOCTYPE html>
<html>
  <head>
    <title>Export to Github - Success!</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/css/default.css" />

  </head>
  <body>
    <div id="container" class="container-fluid">
    <h2>Congratulations!</h2>

    <p>Your data is published at <a href="#" id="pages-url"></a></p>
    </div>
  </body>
  <script>
    window.$ = window.jQuery = require('../bower_components/jquery/dist/jquery.js');
    const {shell} = require('electron');
    var ipc = require("electron").ipcRenderer;
  </script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
    ipc.once('ghPagesUrl', function(event, url) {
      $('#pages-url').attr('href', url)
      $('#pages-url').html(url)
    })

    $(document).on('click', 'a[href^="http"]', function(event) {
        event.preventDefault();
        shell.openExternal(this.href);
    });
    </script>
</html>
