<!DOCTYPE html>
<html>
  <head>
    <title>Select worksheet</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/css/default.css" />

  <link rel="stylesheet" href="../assets/css/select-worksheet.css" />
  </head>
  <body>
    <div id="container" class="container-fluid">
  <form>
    <p><select id="worksheets" class="form-control"></select></p>
    <div class="well">
      <button id="submit" class="btn btn-default">Go</button> <button id="cancel" class="btn btn-default">Cancel</button>
    </div>
  </form>
    </div>
  </body>
  <script>
    window.$ = window.jQuery = require('../bower_components/jquery/dist/jquery.js');
    const {shell} = require('electron');
    var ipc = require("electron").ipcRenderer;
  </script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
    ipc.on('loadSheets', function(e, sheets) {
      worksheets = $('#worksheets')
      $.each(sheets, function( i, sheet ){
        worksheets.append($("<option></option>")
          .attr("value",sheet)
          .text(sheet))
      });

      $('#submit').click(function(e) {
        ipc.send('worksheetSelected', $('#worksheets').val());
        e.preventDefault();
      })

      $('#cancel').click(function() {
        ipc.send('worksheetCanceled');
      })
    });
  </script>
</html>
