body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.well {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  text-align: right;
  border-radius: 0;
  border-bottom: 0;
  padding: 7px;
}

#worksheets {
  margin: 7px;
  width: 95%;
}
