<!-- START: Site Footer -->
<footer role="contentinfo" class="site-footer">
  <div class="row footer-info">
    <!-- START: Copyright Notice -->
    <div class="six columns">
      <p class="footer-copyright">Header photo by <a href="https://www.flickr.com/photos/24592211@N05/15925665874/in/photolist-qgicC7-ymFP-qoaSsc-3f4W-bdF7ZD-ayCym5-c1chXG-2A5wdh-4ECM3n-jM1ai-dZKxm-abDzjC-8jEq7j-KrvuK-6kSUpx-xXyVGb-kzFh3-nPeVR-cs9Smu-cdEV9C-q6VQ6Z-q6Msi7-KPLe1-dhewL2-eTSCFG-qaRoxQ-ejHvYZ-qm4Myy-eEAtEU-oTrYTx-noQbYS-o5frcn-tzvS6-dp7bBD-dp7igd-qAjb1g-5VRV9K-84CDS4-3key1o-CUUnjm-aoY3Dw-38VzF5-38R28i-aDfXWu-72DCfA-9ECJb9-dfejEU-pro5jN-rLW6M-prmJUY">Bhavik Thaker</a>.</p>
    </div>
    <div class="footer-copyright" style="float:right;text-align:right; width: 50%;">
      <p>HTML, CSS, images, and design are based on a design <a href="https://github.com/sudomesh/peoplesopen-front">forked from PeoplesOpen.Net</a> which was, in turn, forked from <a href="http://martini.codegangsta.io/">Martini’s template</a>, reused here under the MIT License.</p>

      <img src="img/icon.jpg" class="comma-chameleon" alt="" />

    </div>
    <!-- /END: Copyright Notice -->
  </div>
</footer>
<!-- /END: Site Footer -->
<script>/*<![CDATA[*/var oldieCheck=Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));if(!oldieCheck){document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');}else{document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');}/*]]>*/</script>
<script>/*<![CDATA[*/if(!window.jQuery){if(!oldieCheck){document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');}else{document.write('<script src="js/libs/jquery-1.10.1.min.js"><\/script>');}}/*]]>*/</script>
<script src="js/libs/gumby.min.js"></script>
<script src="js/plugins/waypoints.min.js"></script>
<script src="js/plugins/placeholders.js"></script>
<script src="js/theme.js"></script>
<script>
  $.get('https://api.github.com/repos/theodi/comma-chameleon/releases', function(data) {
    assets = data[0].assets
    $('#win32').attr('href', assets[3].browser_download_url)
    $('#win64').attr('href', assets[4].browser_download_url)
    $('#osx').attr('href', assets[0].browser_download_url)
    $('#linux32').attr('href', assets[1].browser_download_url)
    $('#linux64').attr('href', assets[2].browser_download_url)
  })
</script>
</body>
</html>
