<!DOCTYPE html>
<html>
  <head>
    <title>Untitled.csv</title>
    <script>
    window.$ = window.jQuery = require('../../bower_components/jquery/dist/jquery.js');
    </script>
    <link rel="stylesheet" href="../../bower_components/handsontable/dist/handsontable.full.css" />
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/panels.css" />
    <script src="../../bower_components/handsontable/dist/handsontable.full.js"></script>
    <script src="../../bower_components/jquery-csv/src/jquery.csv.min.js"></script>
    <script src="../../bower_components/lodash/lodash.min.js"></script>
  </head>
  <body>

    <div id="container">
      <div id="top-panel"></div>
      <div id="main-panel">
        <div id="left-panel">
        </div>
        <div id="middle-panel">
          <div id="editor"></div>
        </div>
        <div id="right-panel" class="hidden alert" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div id="message-panel"></div>
        </div>
      </div>
    </div>
    <script src="../hot.js"></script>
    <script src="../ragged-rows.js"></script>
    <script src="../validate.js"></script>
    <script src="../menu.js"></script>
  </body>
</html>
