<!DOCTYPE html>
<html>
  <head>
    <title>Select worksheet</title>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script>
    window.$ = window.jQuery = require('../../bower_components/jquery/dist/jquery.js');
    </script>
    <style type="text/css">
      body, html {
        margin: 0;
        padding: 0;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }

      .well {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        text-align: right;
        border-radius: 0;
        border-bottom: 0;
        padding: 7px;
      }

      #worksheets {
        margin: 7px;
        width: 95%;
      }
    </style>
  </head>
  <body>
    <p><select id="worksheets" class="form-control"></select></p>
    <div class="well">
      <button id="submit" class="btn btn-default">Go</button> <button id="cancel" class="btn btn-default">Cancel</button>
    </div>
    <script>
      var ipc = require('ipc');

      ipc.on('loadSheets', function(sheets) {
        worksheets = $('#worksheets')
        $.each(sheets, function( i, sheet ){
          worksheets.append($("<option></option>")
            .attr("value",sheet)
            .text(sheet))
        });

        $('#submit').click(function(e) {
          ipc.send('worksheetSelected', $('#worksheets').val());
          e.preventDefault();
        })

        $('#cancel').click(function() {
          ipc.send('worksheetCanceled');
        })
      });
    </script>
  </body>
</html>
