{{#extend "layout" pageTitle="Choose repo to export to" containerClass="container-fluid"}}

  {{#content "head" mode="append"}}
    <link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="../assets/css/datapackage.css" />
  {{/content}}

  {{#content "body"}}
    <div class="row hidden" id="schema-error">
      <div class='alert alert-warning'>The data you are trying to add does not match the dataset's schema. Please edit your data try again</div>
    </div>
    <form id="github">
      <div class="form-wrapper">

        <div class="form-group">
          <label for="file_name">File name</label>
          <input type="text" class="form-control" id="file_name" name="file_name">
        </div>

        <div class="form-group">
          <label for="file_description">File description</label>
          <textarea class="form-control" id="file_description" name="file_description"></textarea>
        </div>

        <div class="form-group">
          <label class="control-label" for="repos">Choose Dataset</label>
          <select class="form-control" id="dataset" name="dataset">
            <option>--- Please Select---</option>
          </select>
        </div>

    </div>
      <div class="well">
        <button id="submit" class="btn btn-default">Go
          <i id='spinner' class="fa fa-spinner fa-pulse margin-bottom hidden"></i></button>
        <button id="cancel" class="btn btn-default">Cancel</button>
      </div>
    </form>
  {{/content}}

{{#content "foot" mode="prepend"}}
<script>
  ipc.once('apiKey', function(event, key) {
    var key = key
    $.get('https://octopub.io/dashboard.json?api_key='+ key, function(data) {
      select = $('#dataset')
      $.each(data.datasets, function(i, repo) {
        select.append($("<option></option>")
                    .attr("value",repo.id)
                    .text(repo.name));
      })

      $("#submit").click(function(e) {
        e.preventDefault();
        $("#spinner").removeClass('hidden');
        github = $('#github').find(':input').serialize();
        ipc.send('addFileToExisting', github, key);
      })
    })
  });

  ipc.once('schemaError', function(event) {
    $('#spinner').addClass('hidden')
    $('#schema-error').removeClass('hidden')
  })
</script>
{{/content}}

{{/extend}}
