{{#extend "layout" pageTitle="Custom" containerClass="container-fluid"}}

  {{#content "head" mode="append"}}

    <link rel="stylesheet" href="../assets/css/datapackage.css" />
  {{/content}}

  {{#content "body"}}
    <form id="custom-format">
      <div class="form-wrapper">

        <div class="form-group">
          <label for="separator">Separator</label>
          <input type="text" class="form-control" id="separator" name="separator" value=",">
        </div>

        <div class="form-group">
          <label for="delimiter">Text Delimiter</label>
          <input type="text" class="form-control" id="delimiter" name="delimiter" value='"'>
        </div>

      </div>

      <div class="well">
        <button id="submit" class="btn btn-default">Go</button>
        <button id="cancel" class="btn btn-default">Cancel</button>
      </div>
    </form>
  {{/content}}

  {{#content "foot" mode="prepend"}}
    <script>
      $(function () {

        $("#cancel").click(function(e) {
          window.close()
        });

        $("#submit").click(function(e) {
          e.preventDefault();
          console.log($('#separator').val());
          format = {
            separator: $('#separator').val(),
            delimiter: $('#delimiter').val(),
          };
          ipc.send('formatSelected', format);
          window.close();
        });

      });
    </script>
  {{/content}}

{{/extend}}
