body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.form-wrapper {
  margin: 20px 0;
}

.well {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 0 0 -15px;
  text-align: right;
  border-radius: 0;
  border-bottom: 0;
  padding: 7px;
}

.bootstrap-tagsinput {
  width: 100%;
}
